.searchPage {
  max-width: 990px;
  margin: auto;
}

.thumbnail {
  width: 100%;
}

.hit {
  margin-bottom: 50px;
  cursor: pointer;
}
.pageTitle {
  text-align: center;
  margin: 50px auto;
}
.noResults {
  text-align: center;
}