@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@font-face {
  font-family: 'tradeGothicBC20';
  src: local('tradeGothicBC20'), url(../../fonts/TradeGothicLTPro-BdCn20.ttf) format('truetype');
}


.italics {
  font-style: italic;
}
