.container {
  position: relative;
}

.link {
  height: 100%;
  width: 100%;
  border: grey 2px dashed;
  overflow: hidden;
}

.single {
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.videoInfoCont {
  position: absolute;
  padding: 1rem;
  bottom: 0;
}

.overlay {
  position: absolute;
  width: 100%;
}

.brand {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.02em;
}


.title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.cardCont {
  position: relative;
  color: #ffffff;
  padding-top: 75%;
}
.iframe {
  height: 300px;
  width: 300px;
  border: grey 1px dashed;
}

.slide {
  margin: 0 15px;
}

.icon {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 30px;
  opacity: .8;
}